@model string[]
@{
	var outputFiles = Model;
}

@using (Html.BeginForm("AnalyzeOutput", "Analysis", FormMethod.Post, new {enctype = "multipart/form-data",id="submitform"}))
  {
	<div class="row">
		<div class="label">Output file:</div>
		<div class="input">
			<input type="file" id="output_file_upload" name="output_file_upload" runat="server" />
		</div>
	</div>
	<div class="row">
		<div class="label">Domain:</div>
		<div class="input"><input class="large" type="text" id="output_domain" name="output_domain" value="uat.shopyourway.com"/></div>
	</div>
	<div class="row">
		<div class="label">Duration:</div>
		<div class="input"><input class="small" type="text" id="output_duration" name="output_duration" value="1800"/> sec</div>
	</div>
	<div class="row">
		<div class="label">RampUp Period:</div>
		<div class="input"><input class="small" type="text" id="output_rampup" name="output_rampup" value="150"/> sec</div>
	</div>
	<div class="row actions">
		<input type="submit" id="analyze-output" class="btn btn_primary" value="Analyze"/>
	</div>
}