<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
	    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
	    <link type="text/css" rel="stylesheet" href="../../static/css/reset.css">
		<link type="text/css" rel="stylesheet" href="../../static/css/main.css">
    </head>
    <body>
        @RenderBody()
    </body>
</html>
