@model Ultra.Models.RunPageModel
@{
	var jmxFiles = Model.JmxFiles;
}
<div class="row">
	<div class="label">Script:</div>
	<div class="input">
		<select class="large" id="loadrun_script">
			@foreach (var jmxScript in jmxFiles)
			{
				var jmxScriptName = jmxScript.Substring(jmxScript.LastIndexOf('\\') + 1);
				<option value="@jmxScript">@jmxScriptName</option>
			}
		</select>
	</div>
</div>
<div class="row">
	<div class="label">Servers:</div>
	<div class="input servers-list">
		@if (Model.Configuration.Servers != null && Model.Configuration.Servers.Length > 0)
		{
			foreach (var server in Model.Configuration.Servers)
			{
				<input type="checkbox" id="server_@server" name="loadrun_servers"/>
				<label for="server_@server">@server</label>
				<br/>
			}
		}
	</div>
</div>
<div class="row">
	<div class="label">Domain:</div>
	<div class="input"><input class="large" type="text" id="loadrun_domain"/></div>
</div>
<div class="row">
	<div class="label">Duration:</div>
	<div class="input"><input class="small" type="text" id="loadrun_duration"/> sec</div>
</div>
<div class="row">
	<div class="label">RampUp Period:</div>
	<div class="input"><input class="small" type="text" id="loadrun_rampup"/> sec</div>
</div>
<div class="row actions">
	<input type="button" id="start-load-run" class="btn btn_primary" value="Run"/>
</div>