#general_stats { margin-top: 20px; }
#general_stats .stat-container { width: 125px;text-align: center; }
#general_stats .stat-container .value { font-size: 32px;font-weight: bold; }
#general_stats .stat-container .description { }

#general_stats { }
#general_stats { }
#general_stats { }