#load-runs-history { border: solid 1px #ccc;border-collapse: collapse;margin: 2px 0;width: 100%;margin-top: 10px; }
#load-runs-history th { border: solid 1px #ccc;padding: 0 3px; }
#load-runs-history td { border: solid 1px #ccc;padding: 0 3px; }
#load-runs-history tr:hover { background-color: #ffc; }