<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MongoDbConnectionString" connectionString="server=127.0.0.1;database=loadruns" />
	</connectionStrings>
	<appSettings>
		<add key="JMeterBatFile" value="C:\utils\apache-jmeter-2.9\bin\jmeter.bat" />
		<add key="JmxFileArchive" value="C:\utils\apache-jmeter-2.9\output_archive" />
	</appSettings>
</configuration>