@model Ultra.Models.RunPageModel

@{
	ViewBag.Title = "title";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Head
{
	<script type="text/javascript" src="~/static/js/load-run.js"></script>
	<link type="text/css" rel="stylesheet" href="../../static/css/runs-history.css">
}

<h2>Run load</h2>

@Html.Partial("_RunLoadForm", Model)