<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MongoDbConnectionString" connectionString="server=127.0.0.1;database=loadruns" />
  </connectionStrings>
  <appSettings>
    <add key="JMeterBatFile" value="C:\utils\apache-jmeter-2.9\bin\jmeter.bat" />
    <add key="JmxFileArchive" value="C:\utils\apache-jmeter-2.9\jmx_archive" />
    <add key="OutputArchive" value="C:\utils\apache-jmeter-2.9\output_archive" />
    <add key="ResponseTimeThreshold" value="4000" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>