@model Ultra.Dal.Entities.LoadRun[]
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}
@section Head
{
	<script type="text/javascript" src="~/static/js/load-run.js"></script>
	<link type="text/css" rel="stylesheet" href="../../static/css/runs-history.css">
}

<div class="title">
	<h2>History</h2>
	<span class="float-right add-output-file"><a href="/analyze">Add Output File</a></span>
</div>

@Html.Partial("_HistoryTable", Model)