@model Ultra.Dal.Entities.LoadRun[]
@{
    ViewBag.Title = "Home Page";
}

<div class="container">
	<div class="thread-groups">
		@foreach (var loadRun in Model)
		{
			<div>@loadRun</div>
		}
	</div>
</div>