@model Ultra.Models.RunPageModel

@{
	ViewBag.Title = "title";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Run load</h2>

@Html.Partial("_RunLoadForm", Model.JmxFiles)


<h2>History</h2>

@Html.Partial("_HistoryTable", Model.LoadRuns)